body {
  background-color: rgb(54, 53, 53);
  background-image: url('./1_background.png');
  background-repeat: repeat;
  background-size: 1600px;       /* or contain / cover / 300px etc */

  /* Manual positioning options */
  background-position: 0px -330px;   
  background-attachment: fixed;
}
